.cache_yellow {
    color: #FBC900;
}

.cache_grey {
    color: #696a6f;
}

.navbar-brand img {
    display: inline-block;
    margin: 0 10px;
    width: 1.5em;
}

img {
    vertical-align: middle;
    border-style: none;
}

body {
    background-color: #e6ecf0;
}

.bg-dark {
    background-color: #2c313f !important
}

body {
    font-family: "Arimo",sans-serif;
}

label {
    font-weight: 700;
}

.dataTables_processing {
    border-radius: 2.5em;
}

.country_img {
    width: 14em;
}

[class^="col-"] {
    background-color: #f8f9fa;
        padding-top: 0.5em;

    /*margin-top: 1em;*/
    /*margin-left: 1em;*/
    /*margin-right: 1em;*/
}

.row {
    padding-bottom: 1em;
}

/*.home_container { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -3rem; }*/
/*.home_footer, .home_push {height: 3rem;}*/

.sub_page_container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -15rem;
}

.sub_page_footer, .sub_page_push { height:10rem;}

#footer {
    margin: 8em 0 0 0;
}

html,body{
    min-height:100%;
    /*height: auto !important;*/
    height: 100%;
}

.search_button {
    /*position: absolute;*/
    /*bottom: 3em;*/
    padding-bottom: 1em;
}