{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block page_name %}{% trans 'Compare' %}{% endblock %}

{% block main %}


    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    {#<script type="text/javascript" src="{% static "d3/d3.js" %}"></script>#}
    <script src="https://d3js.org/d3.v3.min.js"></script>

    <script src='{% static 'compare.js' %}'></script>

   <style>
        .btn-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        .btn-list-item {
            margin-top: 0.2em;
            margin-bottom: 0.2em;
            margin-left: 0.5em;
            margin-right: 0.5em;
        }

   .bar-chart {
    background-color: #C7D9D9;
}
   </style>

    <div>
        <svg id="svg2"></svg>
        <svg id="svg1"></svg>

        <div id="keys" class="btn-list"></div>

        <div id="max_val"></div>
        <div id="min_val"></div>

        <div id="output_dump"></div>
        <div>http://orr.gov.uk/statistics/published-stats/station-usage-estimates</div>
    </div>

    <script>
        compare(
            "{% static 'data/estimates-of-station-usage-2017-18.csv' %}",
            '1718 Entries & Exits'
        );
    </script>

{% endblock %}