{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block page_name %}{% trans 'Examples of usage - jQuery SPARQL' %}{% endblock %}

{% block main %}

    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>#}
    {#    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
    <script src="{% static 'urlEncode.js' %}"></script>
    <script src="{% static 'jquery.sparql.js' %}"></script>
    <script src="{% static 'urlEncode.js' %}"></script>
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'moment-with-locales.js' %}"></script>


    <script>
        {#        d3.selection.prototype.moveToFront = function() {#}
        {#            return this.each(function(){#}
        {#                this.parentNode.appendChild(this);#}
        {#            });#}
        {#        };#}
        {#        d3.selection.prototype.moveToBack = function() {#}
        {#            return this.each(function() {#}
        {#                var firstChild = this.parentNode.firstChild;#}
        {#                if (firstChild) {#}
        {#                    this.parentNode.insertBefore(this, firstChild);#}
        {#                }#}
        {#            });#}
        {#        };#}


        {#        var query = 'SELECT * WHERE {?s ?p ?o} LIMIT 10';#}

{#        var query = "prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\n" +#}
{#            "prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>\n" +#}
{#            "prefix owl: <http://www.w3.org/2002/07/owl#>\n" +#}
{#            "prefix xsd: <http://www.w3.org/2001/XMLSchema#>\n" +#}
{#            "prefix sr: <http://data.ordnancesurvey.co.uk/ontology/spatialrelations/>\n" +#}
{#            "prefix ukhpi: <http://landregistry.data.gov.uk/def/ukhpi/>\n" +#}
{#            "prefix lrppi: <http://landregistry.data.gov.uk/def/ppi/>\n" +#}
{#            "prefix skos: <http://www.w3.org/2004/02/skos/core#>\n" +#}
{#            "prefix lrcommon: <http://landregistry.data.gov.uk/def/common/>\n" +#}
{#            "\n" +#}
{#            "# House price index for all regions within a given date range\n" +#}
{#            "SELECT ?region ?date ?hpi\n" +#}
{#            "{\n" +#}
{#            "  ?region ukhpi:refPeriodStart ?date ;\n" +#}
{#            "          ukhpi:housePriceIndex ?hpi\n" +#}
{#            "  FILTER (\n" +#}
{#            "    ?date > \"2008-12-31\"^^xsd:date &&\n" +#}
{#            "    ?date < \"2013-03-01\"^^xsd:date\n" +#}
{#            "  )\n" +#}
{#            "}";#}

        var query = "prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\n" +
            "prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>\n" +
            "prefix owl: <http://www.w3.org/2002/07/owl#>\n" +
            "prefix xsd: <http://www.w3.org/2001/XMLSchema#>\n" +
            "prefix sr: <http://data.ordnancesurvey.co.uk/ontology/spatialrelations/>\n" +
            "prefix ukhpi: <http://landregistry.data.gov.uk/def/ukhpi/>\n" +
            "prefix lrppi: <http://landregistry.data.gov.uk/def/ppi/>\n" +
            "prefix skos: <http://www.w3.org/2004/02/skos/core#>\n" +
            "prefix lrcommon: <http://landregistry.data.gov.uk/def/common/>\n" +
            "\n" +
            "# Returns the Price Paid data from the default graph for each transaction record having\n" +
            "# an address with the given postcode.\n" +
            "# The postcode to query is set using SPARQL 1.1's 'values' clause\n" +
            "\n" +
            "SELECT ?paon ?saon ?street ?town ?county ?postcode ?amount ?date ?category\n" +
            "WHERE\n" +
            "{\n" +
            "  VALUES ?postcode {\"CF5 2PS\"^^xsd:string}\n" +
            "\n" +
            "  ?addr lrcommon:postcode ?postcode.\n" +
            "\n" +
            "  ?transx lrppi:propertyAddress ?addr ;\n" +
            "          lrppi:pricePaid ?amount ;\n" +
            "          lrppi:transactionDate ?date ;\n" +
            "          lrppi:transactionCategory/skos:prefLabel ?category.\n" +
            "\n" +
            "  OPTIONAL {?addr lrcommon:county ?county}\n" +
            "  OPTIONAL {?addr lrcommon:paon ?paon}\n" +
            "  OPTIONAL {?addr lrcommon:saon ?saon}\n" +
            "  OPTIONAL {?addr lrcommon:street ?street}\n" +
            "  OPTIONAL {?addr lrcommon:town ?town}\n" +
            "}\n" +
            "ORDER BY ?date";

        {#	var url = 'http://statistics.data.gov.uk/sparql.json';#}
        var url = 'http://landregistry.data.gov.uk/landregistry/query';
        $.ajax({
            method: 'POST',
            dataType: 'json',
            url: url,
            data: {query: query},
            success: function(data) {
                {#			alert('success: ' + data.results.bindings.length + ' results');#}
                console.log(data);

                $('#results').text(JSON.stringify(data, null, 2));

                var clean_data = [
                    {
                        'idx': '1960-12-31',
                        'A': 1,
                        'B': 2,
                        'C': NaN
                    },
                    {
                        'idx': '1965-12-31',
                        'A': 30,
                        'C': 5
                    },
                    {
                        'idx': '1970-12-31',
                        'A': 10,
                        'B': 20,
                        'C': 15
                    }
                ];

                var item_name_key = 'paon';
                var item_value_key = 'amount'

                {#                                var item_name_key = 'region';#}
                {#                                var item_value_key = 'hpi';#}

                var current_year = data['results']['bindings'][0]['date']['value'] //.split('-')[0];
                var data_by_year = [];
                var seen_item_names = [];
                var current_year_data = {
                    'idx': current_year //+ '-01-01'
                };

                // Vital that data is in date order here.
                for(var a in data['results']['bindings']){
                    var dat = data['results']['bindings'][a];
                    var item_name = dat[item_name_key]['value'] //.split('/')[6];

                    // If we haven't seen this address before, backfill previous years with NaN's
                    if (seen_item_names.indexOf(item_name) === -1){
                        for(var b in data_by_year) {
                            data_by_year[b][item_name] = NaN
                        }
                    }
                    seen_item_names.push(item_name);

                    var amount = parseFloat(dat[item_value_key]['value']);
                    var year = dat['date']['value'] //.split('-')[0];

                    if(year === current_year){
                        // This data is for the same year as before, so add to current years object
                        current_year_data[item_name] = amount
                    }else{
                        // It's a different year, so push the previous one
                        data_by_year.push(current_year_data);

                        // Update year to new value and build new record for it
                        current_year = year;
                        current_year_data = {
                            'idx': current_year, //+ '-01-01',
                            [item_name]: amount
                        }
                    }
                }
                // Push final years data to the arr
                data_by_year.push(current_year_data);

                console.log(current_year);

                console.log(data_by_year);

                build_linechart(data_by_year)

            },
            complete: function(){

            }

        });

    </script>


    <style> /* set the CSS */

    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 2px;
        z-index: 1;
    }
    .house_number {
        font-size: 20px;
        font-family: "Helvetica", Arial, sans-serif;
        color: black;
        height: 1.2em;
    }

    .rollover_text {
        font-size: 20px;
        font-family: "Helvetica", Arial, sans-serif;
        fill: black;
        pointer-events: none;
    }

    </style>

    <script>

        d3.selection.prototype.moveToFront = function() {
            return this.each(function(){
                this.parentNode.appendChild(this);
            });
        };
        // Orginally from http://bl.ocks.org/cgroll/491344b798af8dcc8dc4
        // Messed about with by IanH

        function build_linechart(data) {
            console.log('raw data');
            console.log(data);

            // define margins
            var margin = {top: 20, right: 80, bottom: 30, left: 150};

// graphics size without axis
            var width = 960 - margin.left - margin.right;
            var height = 500 - margin.top - margin.bottom;

            var svg = d3.select("#line_graph").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var x = d3.scaleTime()
                .range([0, width]);

            var y = d3.scaleLinear()
                .range([height, 0]);

            var color = d3.scaleOrdinal(d3.schemeCategory10);

            var xAxis = d3.select(".axis")
                .call(d3.axisBottom(x));

            var yAxis = d3.select(".axis")
                .call(d3.axisLeft(y));

            var parseDate = d3.timeParse("%Y-%m-%d");

            var line = d3.line()
                .curve(d3.curveCatmullRom.alpha(0.5));
{#                .curve(d3.curveMonotoneX);#}

            line.x(function(d) { return x(d.idx); });
            line.y(function(d) { return y(d.gdp); });

            {#var tsdata = d3.csv("gdp_us_br_af.csv", function (data) {#}

            color.domain(d3.keys(data[0]).filter(function(key) { return key !== "idx"; }));

            data.forEach(function(d) {
                d.idx = parseDate(d.idx);
            });

            var tseries = color.domain().map(function(name) {

                var dataWithNaN = data.map(function(d) {
                    return {idx: d.idx, gdp: +d[name]};
                });

                var fltData = dataWithNaN.filter( function(d) { return !isNaN(d.gdp)});

                return {
                    name: name,
                    values: fltData
                };
            });

            console.log(tseries);

            {#            tseries = tseries.slice(1, 20)#}

            // Update the x axis extents so data points don't appear in the corner of the graph
            var date_extent = d3.extent(data, function(d) { return d.idx; });
            var updated_extent = [moment(date_extent[0]).subtract(90, 'days'), moment(date_extent[1]).add(90, 'days')];
            x.domain(updated_extent);

            // + - 10000 for the same reason
            y.domain([
                d3.min(tseries, function(c) { return d3.min(c.values, function(v) { return v.gdp - 10000; }); }),
                d3.max(tseries, function(c) { return d3.max(c.values, function(v) { return v.gdp + 10000; }); })
            ]);

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x));

            svg.append("g")
                .attr("class", "y axis")
                .call(d3.axisLeft(y))
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("GDP in bn $");

            {#            svg.append("text").attr("id", "house_number")#}
            {#                .attr("x", 10).attr("y", 10)#}
            {#                .attr("class", "rollover_text")#}
            {#                .text("");#}

            var single_point_tseries = []
            for (var a in tseries) {
                if (tseries[a].values.length === 1) {
                    single_point_tseries.push(tseries[a])
                }
            }

            var single_point = svg.selectAll(".single_point")
                .data(single_point_tseries)
                .enter().append("g")
                .attr("class", "single_point");

            single_point.append("circle")
                .attr("class", "point")
                .attr("cx", function(d) {
                    return x(d.values[0].idx);
                })
                .attr("cy", function(d) {
                    return y(d.values[0].gdp);
                })
                .attr("r", 5)
                .attr("fill", function(d) { return color(d.name); })
                .on("mouseenter", function(d) {

                    d3.selectAll('.line').style("stroke-opacity", "0.2");
                    d3.selectAll('.point').style("fill-opacity", "0.2");

                    d3.select(this)
                        .transition()
                        .ease(d3.easeElastic)
                        .style("fill-opacity", "1");

                    d3.select(this.parentNode)
                        .append("text")
                        .attr("x", function(d) {
                            return x(d.values[0].idx) - 200;
                        })
                        .attr("y", function(d) {
                            return y(d.values[0].gdp);
                        })
                        .attr("dx", 5)
                        .attr("dy", 10)
                        .attr("class", "rollover_text")
                        .text(
                            moment(d.values[0].idx).format('Do MMM YY') +
                            " : £" + d.values[0].gdp
                        );


                    d3.select(this.parentNode).moveToFront()

                })
                .on("mouseleave", function(d) {

                    d3.selectAll('.line').style("stroke-opacity", "1");
                    d3.selectAll('.point').style("fill-opacity", "1");

                    d3.select(this.parentNode)
                        .selectAll("text")
                        .transition()
                        .style("opacity", 0)
                        .transition()
                        .remove();

                });


            var gdp = svg.selectAll(".gdp")
                .data(tseries)
                .enter().append("g")
                .attr("class", "gdp");

            {#            gdp.append("path")#}
            {#                .attr("class", "invisible_line")#}
            {#                .attr("d", function(d) { return line(d.values); })#}
            {#                .style("stroke", function(d) { return color(d.name); })#}
            {#                .style("stroke-opacity", "0.1")#}
            {#                .style("stroke-width", "10")#}

            gdp.append("path")
                .attr("class", "line")
                .attr("d", function(d) { return line(d.values); })
                .style("stroke", function(d) { return color(d.name); })
                .on("mouseenter", function(d) {

                    d3.selectAll('.line').style("stroke-opacity", "0.2");
                    d3.selectAll('.point').style("fill-opacity", "0.2");

                    d3.select(this)
                        .transition()
                        .ease(d3.easeElastic)
                        .style("stroke-width", "5px")
                        .style("stroke-opacity", "1")

                    for(var a in d.values){
                        d3.select(this.parentNode)
                            .append("circle")
                            .attr("cx", function(d) {
                                return x(d.values[a].idx);
                            })
                            .attr("cy", function(d) {
                                return y(d.values[a].gdp);
                            })
                            .attr("r", 8)
                            .attr("fill", function(d) { return color(d.name); })

                        d3.select(this.parentNode)
                            .append("text")
                            .attr("x", function(d) {
                                return x(d.values[a].idx) - 200;
                            })
                            .attr("y", function(d) {
                                return y(d.values[a].gdp);
                            })
                            .attr("dx", 5)
                            .attr("dy", 10)
                            .attr("class", "rollover_text")
                            .text(
                                {#                                d.name + ' : ' +#}
                                moment(d.values[a].idx).format('Do MMM YY') +
                                " : £" + d.values[a].gdp
                            );

                    }
                    d3.select('#house_number').text("House number/name : " + d.name);

                    d3.select(this.parentNode).moveToFront()

                })
                .on("mouseleave", function(d) {

                    d3.selectAll('.line').style("stroke-opacity", "1");
                    d3.selectAll('.point').style("fill-opacity", "1");
                    d3.select('#house_number').text(" ");

                    d3.select(this.parentNode)
                        .selectAll("text")
                        .transition()
                        .style("opacity", 0)
                        .transition()
                        .remove();

                    d3.select(this.parentNode)
                        .selectAll("circle")
                        .transition()
                        .style("opacity", 0)
                        .transition()
                        .remove();

                    d3.select(this)
                        .transition()
                        .ease(d3.easeElastic)
                        .style("stroke-width", "3px")
                        .style("stroke", function(d) { return color(d.name); })

                });



        }
    </script>

    <div class="house_number" id="house_number"></div>
    <div id="line_graph"></div>

    <h1>Results</h1>
    <textarea id="results" style="width:500px;height:300px">
      Results will appear here.
    </textarea>


    <p><a id="run_sparql" href="#">Run Me</a></p>


{% endblock %}


{#prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>#}
{#prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>#}
{#prefix owl: <http://www.w3.org/2002/07/owl#>#}
{#prefix xsd: <http://www.w3.org/2001/XMLSchema#>#}
{#prefix sr: <http://data.ordnancesurvey.co.uk/ontology/spatialrelations/>#}
{#prefix ukhpi: <http://landregistry.data.gov.uk/def/ukhpi/>#}
{#prefix lrppi: <http://landregistry.data.gov.uk/def/ppi/>#}
{#prefix skos: <http://www.w3.org/2004/02/skos/core#>#}
{#prefix lrcommon: <http://landregistry.data.gov.uk/def/common/>#}
{##}
{## Returns the Price Paid data from the default graph for each transaction record having#}
{## an address with the given postcode.#}
{## The postcode to query is set using SPARQL 1.1's 'values' clause#}
{##}
{#SELECT ?paon ?saon ?street ?town ?county ?postcode ?amount ?date ?category#}
{#WHERE#}
{#{#}
{#  VALUES ?postcode {"PL6 8RU"^^xsd:string}#}
{##}
{#  ?addr lrcommon:postcode ?postcode.#}
{##}
{#  ?transx lrppi:propertyAddress ?addr ;#}
{#          lrppi:pricePaid ?amount ;#}
{#          lrppi:transactionDate ?date ;#}
{#          lrppi:transactionCategory/skos:prefLabel ?category.#}
{##}
{#  OPTIONAL {?addr lrcommon:county ?county}#}
{#  OPTIONAL {?addr lrcommon:paon ?paon}#}
{#  OPTIONAL {?addr lrcommon:saon ?saon}#}
{#  OPTIONAL {?addr lrcommon:street ?street}#}
{#  OPTIONAL {?addr lrcommon:town ?town}#}
{# } #}
{#ORDER BY ?amount#}