{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CaCHE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>#}
    <script src="{% static 'js/cache_base.js' %}"></script>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'bootstrap/css/custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'cache.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120091956-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120091956-1');
    </script>

        <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
        <script type="text/javascript" src="{% static "jquery/jquery.cookie.js" %}"></script>

        <script type="text/javascript">
            window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"http://www.cardiff.ac.uk/help/cookies","theme":"light-bottom"};
        </script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
        <!-- End Cookie Consent plugin -->

</head>
<body>

<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
        <a href="../" class="navbar-brand"><img src="{% static 'img/Kr0HVQkJ_bigger.jpg' %}">CaCHE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                {#                <li class="nav-item dropdown">#}
                {#                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Menu <span class="caret"></span></a>#}
                {#                    <div class="dropdown-menu" aria-labelledby="themes">#}
                {#                        <a class="dropdown-item" href=""></a>#}
                {#                        <a class="dropdown-item" href="../default/">Default 3</a>#}
                {#                        <a class="dropdown-item" href="../default/">Default 4</a>#}
                {##}
                {#                    </div>#}
                {#                </li>#}
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=MEu3vWiVVki9vwZ1l3j8vC6x3FvG8GhElTMaJJSK3OJUQUJTTFBFQUVRMU81UVIzNTYxOElUMk5WWi4u">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=MEu3vWiVVki9vwZ1l3j8vC6x3FvG8GhElTMaJJSK3OJUNkVOUUtZVVYyRjFBNUk2TVFIWVAzRjFGWS4u">Join the Alpha Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="http://housingevidence.ac.uk/blog/">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Tools <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="download">
                        <a class="dropdown-item" href="{% url 'search' %}">Keyword Search</a>
                        {#                        <div class="dropdown-divider"></div>#}
                        <a target="_blank" class="dropdown-item" href="{% url 'wiki:root' %}">Wiki</a>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://housingevidence.ac.uk/" target="_blank">CaCHE home</a>
                </li>
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link" href="https://blog.esrc.ac.uk/2017/10/25/work-begins-at-the-new-collaborative-centre-for-housing-evidence-project/" target="_blank">ESRC blog</a>#}
                {#                </li>#}
            </ul>

        </div>
    </div>
</div>

<div class="sub_page_container container">

{#    <div class="container ">#}

        {% block main %}{% endblock %}

        <div class="sub_page_push"></div>

{#    </div>#}
</div>

{% include 'cache_base.html' %}

<footer id="footer" class="sub_page_footer">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                    <ul class="list-unstyled">
                        <li class="float-lg-right"><a href="#top">Back to top</a></li>
                        {#                    <li><a href="" onclick="pageTracker._link(this.href); return false;">Blog</a></li>#}
                        <li><a target="_blank" href="https://twitter.com/housingevidence">Twitter</a></li>
                        <li><a target="_blank" href="https://github.com/whelks-chance/cache">GitHub</a></li>
                        <li><a target="_blank" href="https://cache-web-live.cf.ac.uk/ckan/dataset">CKAN API</a></li>
                    </ul>
                    <p>Made by <a target="_blank" href="http://whelkschance.co.uk">Ian Harvey</a>.</p>
                    <p>Code released under the <a target="_blank" href="https://opensource.org/licenses/MIT">MIT License</a>.</p>
                    <p>Based on <a target="_blank" href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a target="_blank" href="http://fontawesome.io/" rel="nofollow">Font Awesome</a>. Web fonts from <a target="_blank" href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>

                </div>
            </div>
        </div>
</footer>

{#    <script src="../_assets/js/custom.js"></script>#}
</body>
</html>
