{% extends 'base.html' %}
{% load static %}

{% block main %}


    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>CaCHE is the UK’s Collaborative Centre for Housing Evidence</h1>
                <p class="lead">A consortium of 12 partners led by the University of Glasgow. It is a five-year programme funded by the Economic and Social Research Council, Joseph Rowntree Foundation and the Arts and Humanities Research Council</p>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="sponsor">
                    <a href="#">
                        <img src="{% static 'img/media_553190_en.png' %}">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="bs-docs-section clearfix">

        <div class="row">
            <div class="col-lg-12">
                <h3>{{ ckan_resource_uuid }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Name</label>
                    <p class="form-control-static">{{ ckan_resource.data.0.name }}</p>
                </div>

                {% if ckan_resource.data.0.format == 'JPEG' %}
                    <div class="form-group">
                        <label>Image</label>
                        <p class="form-control-static"><img src="{{ ckan_resource.data.0.url }}"></p>
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Description</label>
                    <p class="form-control-static">{{ ckan_resource.data.0.description }}</p>
                </div>

                <div class="form-group">
                    <label>Full data dictionary</label>
                    <p class="form-control-static">{{ ckan_resource }}</p>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{% static 'js/search_results.js' %}"></script>
    {#    <script src="{% static 'jquery/jquery.min.js' %}"></script>#}
    {#    <script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>#}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{% static 'moment/moment-with-locales.min.js' %}"></script>

{% endblock %}