{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CaCHE</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'startbootstrap-small-business-gh-pages/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'startbootstrap-small-business-gh-pages/css/small-business.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'cache.css' %}">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><img class="rounded-circle" src="{% static 'img/Kr0HVQkJ_bigger.jpg' %}">CaCHE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" target="_blank" href="http://housingevidence.ac.uk/">CaCHE Home</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">About</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Services</a>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="http://housingevidence.ac.uk/contact/">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container home_container">

    <!-- Heading Row -->
    <div class="row my-4">
        <div class="col-lg-8">
            {#          <img class="img-fluid rounded" src="http://placehold.it/900x400" alt="">#}
            <img class="img-fluid rounded" src="{% static 'img/media_553190_en.png' %}" alt="">

        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <h1>CaCHE Data Navigator</h1>
            <p>The CaCHE Data Navigator is a web application that enhances a researcher’s ability to search, discover and download housing data related to the UK. The aim is to signal key data sources from the public and private sectors in an easy to use single location.
            </p>

            <div class="search_button">
                <a href="{% url 'search' %}" class="btn btn-primary btn-lg">Search our Data Navigator!</a>
            </div>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">This is the alpha version of the site, please forgive and/or <a target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=MEu3vWiVVki9vwZ1l3j8vC6x3FvG8GhElTMaJJSK3OJUQUJTTFBFQUVRMU81UVIzNTYxOElUMk5WWi4u">report any bugs</a> you may find!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" style="padding-bottom: 0.5em">
            <div class="card">
                <div class="card-body">
                    <p>The Data Navigator will eventually include a summary for each data source of what they hold and an audit of their quality, key contacts and links to recent outputs and summaries.  </p>
                    <p>It has been written using free and open-source software (CKAN) and runs in your web browser.</p>
                    <p>We recommend Google Chrome for the best experience although it is compatible with all mainstream browsers.</p>
                </div>
            </div>

        </div>
    </div>

{#    <div class="page-header" id="banner">#}
{#        <div class="row">#}
{#            <div class="col-lg-8 col-md-7 col-sm-6">#}
{#                <h1>CaCHE is the UK’s Collaborative Centre for Housing Evidence</h1>#}
{#                <p class="lead">A consortium of 12 partners led by the University of Glasgow. It is a five-year programme funded by the Economic and Social Research Council, Joseph Rowntree Foundation and the Arts and Humanities Research Council</p>#}
{#            </div>#}
{#            <div class="col-lg-4 col-md-5 col-sm-6">#}
{#                <div class="sponsor">#}
{#                    <a href="#">#}
{#                        <img src="{% static 'img/media_553190_en.png' %}">#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <!-- Content Row -->
{#    <div class="row">#}
{#        <div class="col-md-4 mb-4">#}
{#            <div class="card h-100">#}
{#                <div class="card-body">#}
{#                    <h2 class="card-title">Case Study 1</h2>#}
{#                    <p class="card-text">An investigation into data relating to housing held by the ONS.</p>#}
{#                    <p>Property price, private rent and household survey and census statistics, used by government and other organisations for the creation and fulfilment of housing policy in the UK.</p>#}
{#                </div>#}
{#                <div class="card-footer">#}
{#                    <a href="#" class="btn btn-primary">More Info</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- /.col-md-4 -->#}
{#        <div class="col-md-4 mb-4">#}
{#            <div class="card h-100">#}
{#                <div class="card-body">#}
{#                    <h2 class="card-title">Case Study 2</h2>#}
{#                    <p class="card-text">A description of the housing data APIs.</p>#}
{#                </div>#}
{#                <div class="card-footer">#}
{#                    <a href="#" class="btn btn-primary">More Info</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- /.col-md-4 -->#}
{#        <div class="col-md-4 mb-4">#}
{#            <div class="card h-100">#}
{#                <div class="card-body">#}
{#                    <h2 class="card-title">Case Study 3</h2>#}
{#                    <p class="card-text">How we built the CaCHE DataPortal.</p>#}
{#                    <p>The design and implementation of the database, webserver and website.</p>#}
{#                </div>#}
{#                <div class="card-footer">#}
{#                    <a href="#" class="btn btn-primary">More Info</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- /.col-md-4 -->#}
{##}
{#    </div>#}
    <!-- /.row -->
<div class="home_push"></div>

</div>
<!-- /.container -->
<!-- Footer -->
<footer class="home_footer py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ian Harvey, Cardiff University, 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
{#    <script src="vendor/jquery/jquery.min.js"></script>#}
{#    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'popper/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</body>

</html>
